<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cspmon>
            <settings>
                <endpoint></endpoint>
                <sample_rate>5</sample_rate>
            </settings>
            <directives>
                <default_src>
                    <name>default-src</name>
                    <allowed_sources>self</allowed_sources>
                </default_src>
                <script_src>
                    <name>script-src</name>
                    <allowed_sources>self,unsafe-eval,unsafe-inline</allowed_sources>
                </script_src>
                <style_src>
                    <name>style-src</name>
                    <allowed_sources>self,unsafe-inline</allowed_sources>
                </style_src>
            </directives>
        </cspmon>
    </default>
</config>
