<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cspmon>
            <settings>
                <endpoint>https://csp.sansec.io/</endpoint>
                <sample_rate>1</sample_rate>
            </settings>
        </cspmon>
    </default>
</config>
