<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Csp\Observer\Render">
        <plugin name="disable_original_report" type="Sansec\Cspmon\Plugin\DisableOriginalReport" />
    </type>
</config>
